*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height:100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: aquamarine; */
}
.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc{
    max-width: 560px;
    text-align: center;
    color: blue;
    margin: 0 auto;

}

.main_conatiner{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);
}
.card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius:2px ;
    width: 500px;
}
.cardimage_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
   
}

.card_image{
    object-fit: cover;
    object-position: center;
    position:absolute;
    height: 100%;
    width: 100%;
}
.cardtitle_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

}
.card_container:hover .card_image1{
    transform: scale(1);
    transition-duration: 200ms;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(33, 17, 203);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}
.card_desc{
    color: black;
    font-size: 1rem;
    }
.cardfooter_container{
    display: flex;
    justify-content: space-between;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.authoravatar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(113, 104, 104);
    border-radius: 50%;
    background-color: cornsilk;
}
.authorinfo_container{
    display: flex;
    flex-direction: column;

}
.authorname{
    color: blue;
}
.authordob{
    color: grey;
}
.cardtag_container{
    font-size: 1rem;
    border: 2px solid rgb(201, 194, 194);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: grey;
}
