*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 160vh;
    background:  linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.navcontainer{
    width: 100vw;
    /* background-color: aquamarine; */
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
     padding: 1rem;
    min-height: -1px;
}
#navlist{
    margin-left: 15px ;
    margin-right: 15px;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navlogo{
    font-size: 2.5rem;
    color: azure;

}
a{
    text-decoration: none;
    color: azure;
}
#navitems{
   display: flex;
   gap: 30px;
   font-size: 25px;
   
}
.footerbox{
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
     color: azure;
     width: 100%;
     text-align: center;
     min-height: 30px;
     font-size: 20px;

}
.contentbox{
    width:70% ;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow:1px 1px 30px black ;

}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.rightbox img{
    height: 200px;
    border-radius: 10px;
    transition: all 0.6s linear 0s ;
}

.rightbox img:hover{
    transform:scale(1.1);
    
}

.leftboxP{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingbox{
    font-size: 1.4rem;
}
.recipebox{
    font-size: 1.2rem;
}