*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height:100vh;
    width: 100vw;
}
.container{
    background-color: black;
    height: 100%;
    width: 100%;
    display: grid;
    padding: 4rem;
    row-gap: 1rem;
    column-gap: 1rem;
    /* grid-template-rows: 100px 100px; */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: repeat(2,1fr); */

    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: 1fr 1fr 1fr;

}
.item{
    background-color: aquamarine;
    border: 3px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

@media(min-width:550px){
.header,.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
    grid-column-start: 2;
    grid-column-end: 4;
}
.content1{
    grid-row-start: 2;
    grid-row-end: 4;
}
}





