*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color: white;
    padding: 5rem;
}
.header-content{
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    gap: 0.625rem;
    color: black;
    text-decoration: none;
}
.logo-icon{
    height: 5.875rem;

}
.logo-text{
    font-size: 2rem;
}
.nav{
    display:none;
    gap: 1.5rem;

}
@media screen and (min-width:760px){
    .nav{
        display: flex;
    }
}

.nav-link{
    color:#718096; 
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav-link:hover{
    color: blue;
}

.contac-button{
    display: none;
    border: 1px solid black;
    border-radius: 0.375rem;
    background-color: rgb(40, 40, 220);
    transform: all 0.1s;
    padding:0.35rem 1.2rem ;
    font-size: 13px;
    font-weight: 600;
    color: white;
    text-decoration: solid;
    font-weight: bold;

}
@media screen and (min-width:768px){
    .contac-button{
        display: block;
    }
}

.contac-button:hover{
    background-color: rgb(58, 58, 254);
}

.menu-button{
    display: none;
}
@media screen and (max-width:768px) {
    
}

.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction:column;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;

}
.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translate(-100%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.para1{
    font-size: 1.15rem;
    font-weight: 600;
    color: rgb(25, 25, 207);
}
.main-heading{
    font-size: 2-25rem;
    padding: 1rem;
    color: black;
}
.para2{
    color: grey;
}
.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
}


.start-button,
.tour-button{
     border: 1px solid black;
    border-radius: 0.375rem;
    background-color: rgb(40, 40, 220);
    transform: all 0.1s;
    padding:0.35rem 1.2rem ;
    font-size: 13px;
    font-weight: 600;
    color: white;
    text-decoration: solid;
    font-weight: bold;
}
.start-button{
    background-color: blue;
}

.start-button:hover{
    background-color: rgb(82, 82, 252);
}
.tour-button{
    background-color: black;
}
.tour-button:hover{
    background-color: gray;
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0,0.1);
    height: 57vh;

}
.section-image{
 height: 100%;
 width: 100%;
}

@media screen and (min-width:760px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .main-heading{
        padding-left: 0;
        font-size: 4rem;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .para1{
        font-size: 1rem;
    }
    .image-container{
        height: 70vh;
    }
    .para2{
        font-size:1.1rem ;
        color: grey;
        width: 78%;
    }
}